body {
    font-family: Arial, sans-serif;

}



.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-size: 18px;
    text-align: left;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: orange;
    outline: none;
}

.login-form button {
    background-color: #8b4513;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #b5651d;
}

.login-footer {
    margin-top: 20px;
    font-size: 14px;
}

.login-footer a {
    color: orange;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}



.navbar .nav-link {
    font-size: 22px;    /* większy tekst */
    margin-right: 20px; /* odstępy między przyciskami */
}
